<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chat App</title>
  </head>
  
  <body>
      <div class="container">
          <div id="userFormArea" class="row" align="center">
            <div class="col-md-4 col-md-offset-4">
              <form id="userForm">
                <div class="form-group">
                  <label style="font-size:30px">15-minute Chat Session</label>
                  <input class="form-control" id="userName" placeholder="Enter Username">
                  <br />
                  <a href='/chat'>Login</a>
                </div>
              </form>
            </div>
          </div>
      </div>
      
  </body>
</html>